<%- include("partials/header") %>

<div class="view-card">

    <a class="top-back-btn" href="/students">← Back</a>

    <h2>Student Details</h2>

    <p><strong>Name:</strong> <%= student.name %></p>

    <p><strong>Roll Number:</strong> <%= student.rollno %></p>

    <p><strong>Course:</strong> <%= student.course %></p>

    <p><strong>Age:</strong> <%= student.age %></p>

    <p><strong>Email:</strong> <%= student.email %></p>

    <p><strong>City:</strong> <%= student.city %></p>

</div>

<%- include("partials/footer") %>